/ProyectoCG/nbproject/private/
/ProyectoCg/nbproject/private/
/ProyectoCg/build/
/ProyectoCg/dist/
/ProyectoCg/libraries/Cola/build/
/ProyectoCg/libraries/Cola/dist/
/ProyectoCg/libraries/Cola/nbproject/private/